.toys-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 200px;
    grid-gap: 25px;
    justify-content: center;
    margin: 50px 15px 0;
}

.filter-sort-search {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: rgb(216, 216, 216);
}

.toy-preview-container {
    text-align: center;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px 5px;
    position: relative;
}

.toy-preview-container span.toy-type {
    position: absolute;
    background-color: #2562d3;
    color: #f9f9f9;
    padding: 3px 5px;
    font-weight: 700;
    border-radius: 5px;
    top: -10px;
    left: -10px;
}

.add-toy-btn {
    width: 100%;
    height: 100%;
}

.add-toy-btn svg {
    font-size: 12em;
}

.delete-toy-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(207, 57, 57);
    color: #f9f9f9;
    padding: 3px;
    border-radius: 0 0 0 15px;
    transition: all 0.2s ease !important;
    cursor: pointer;
}

.delete-toy-btn:hover {
    background-color: rgb(255, 81, 81);
}

.edit-btn {
    background-color: #333333;
    color: #f9f9f9;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.2s ease;
}

.edit-btn:hover {
    background-color: #444444;
}

.toy-edit-container form>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toy-edit-container form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 100px auto 0 auto;
    /* text-align: center; */
    background-color: rgb(243, 243, 243);
    padding: 25px;
    border-radius: 5px;
}

.toy-edit-container button {
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #2562d3;
    transition: all 0.2s ease;
    color: #f9f9f9;
}

.toy-edit-container button:hover {
    background-color: #4482f5;
}

.toy-edit-container input {
    background-color: rgba(255, 255, 255, 0);
}

.toy-edit-container input:not(:last-child) {
    margin-bottom: 20px;
}

.toy-edit-container>form>label {
    margin-bottom: 10px;
    font-weight: 700;
}

.toy-edit-container input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px #333333 solid;
}

.toy-edit-container form {
    display: flex;
    flex-direction: column;
}

.stock-btns {
    margin-bottom: 20px;
}

.stock-btns input[type="radio"] {
    display: none;
}

.stock-btns input[type="radio"]:checked+label {
    background-color: #333333;
    color: #f9f9f9;
}

.stock-btns label:hover {
    background-color: rgb(216, 216, 216);
}

.stock-btns label {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 10px;
    font-weight: 700;
}